<!-- templates/about.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}About Us{% endblock %}

{% block content %}

{% load static %}

<section class="section-padding" id="about_page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="page-title text-center">
                    <h5 class="title">About Us</h5>
				</div>

					<div class="row" style="margin-top:20px;">
						<div class="col-xs-12">
							<div class="team-slide">
								<div class="team-box">
									<div class="team-image">
										<img src="{% static 'img/team/paulwagner.jpg' %}" alt="">
									</div>
									<h4>Paul Wagner</h4>
									<h6 class="position">Developer</h6>
									<p>He likes short walks with the bicycle in nature, he also uses the bicycle to commute in Timisoara, his hometown.</p>
								</div>
								<div class="team-box">
									<div class="team-image">
										<img src="{% static 'img/team/gabrielban.jpg' %}" alt="">
									</div>
									<h4>Gabriel Ban</h4>
									<h6 class="position">Developer</h6>
									<p>Comfort on the bike is his thing. His wish is to sit in an armchair and pedal along.</p>
								</div>
								<div class="team-box">
									<div class="team-image">
										<img src="{% static 'img/team/loreapachitei.jpg' %}" alt="">
									</div>
									<h4>Loredana Apachiței</h4>
									<h6 class="position">Marketing</h6>
									<p>She's really girly. Flowers on the bicycle and all that kind of extreme girly stuff.</p>
								</div>
							</div>
						</div>
					</div>

            </div>
        </div>
    </div>
</section>

{% endblock %}