<!-- templates/registration/password_reset_done.html -->
<!-- /users/...-->

{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}

{% load static %}
  
{% include "header.html" %}

<section id="next-section" class="probootstrap-section">
    <div class="container">
        
        <p style="text-align:center;">
            We've emailed you instructions for setting your password. You should receive the email shortly! <br />
            Please check for the message in spam folder also.
        </p>
        
    </div>
</section>

{% endblock %}