<!-- templates/home.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock %}

{% block content %}

{% load static %}

<section class="section-padding" id="about_page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="page-title text-center">
                    <h5 class="title">Password Change</h5>
				</div>
                
                <div class="login-form">
                    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary btn-block" type="submit" value="Change my password">
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}