<!-- templates/registration/password_change_form.html -->
<!-- /users/password_change -->

{% extends 'base.html' %}

{% block title %}Password Change{% endblock %}

{% block content %}

{% load static %}

{% load crispy_forms_tags %}
  
{% include "header.html" %}

<section id="next-section" class="probootstrap-section">
    <div class="container">
        <div class="row mb60">
            <div class="col-md-8 col-md-offset-2 probootstrap-animate">
                <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                <form action="#" method="post" class="probootstrap-form">

                    {% csrf_token %}
                    {{ form|crispy }}

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Change password">
                </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}