<!-- templates/about.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

{% load static %}

<section class="section-padding" id="about_page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="page-title text-center">
					<h5 class="title">{{ object.username }}</h5>
				</div>
				
				<p>About: {{object.about}}</p>
				<p>Age: {{object.age}}</p>
				<p>Bike: {{object.bike}}</p>
				<p>Joined:</p>

            </div>
        </div>
    </div>
</section>

{% endblock %}