<!-- templates/home.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock %}

{% block content %}

{% load static %}

<section class="section-padding" id="about_page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="page-title text-center">
                    <h5 class="title">Password Change</h5>
				</div>
				
				<p>Your password was changed.</p>

            </div>
        </div>
    </div>
</section>

{% endblock %}