<!-- templates/about.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Page not found{% endblock %}

{% block content %}

{% load static %}

<section class="section-padding" id="about_page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="page-title text-center">
                    <h5 class="title">Page not found</h5>
				</div>
				
				The page you are looking for was not found. :(

            </div>
        </div>
    </div>
</section>

{% endblock %}