<!-- templates/about.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Trail Delete{% endblock %}

{% block content %}

{% load static %}

<section class="section-padding" id="about_page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="page-title text-center">
                    <h5 class="title">Trail Delete</h5>
				</div>
				
				<h1>Delete</h1>
				<form action="" method="post">
					{% csrf_token %}
					<p>Are you sure you want to delete "{{ trail.title }}"?</p>
					<button class="btn btn-danger ml-2" type="submit">Confirm</button>
				</form>

            </div>
        </div>
    </div>
</section>

{% endblock %}