<!-- templates/home.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}

{% load static %}

<section id="next-section" class="probootstrap-section">
	<div class="container">
		<div class="row mb60">
			<div class="col-md-8 col-md-offset-2 probootstrap-animate">
				<form action="#" method="post" class="probootstrap-form">
				<div class="form-group">
					<label for="name">Full Name</label>
					<input type="text" class="form-control" id="name" name="name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" name="email">
				</div>
				<div class="form-group">
					<label for="subject">Subject</label>
					<input type="text" class="form-control" id="subject" name="subject">
				</div>
				<div class="form-group">
					<label for="message">Message</label>
					<textarea cols="30" rows="10" class="form-control" id="message" name="message"></textarea>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" id="submit" name="submit" value="Send Message">
				</div>
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}