<!-- templates/registration/password_reset_complete.html -->
<!-- /users/...-->

{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}

{% load static %}
  
{% include "header.html" %}

<section id="next-section" class="probootstrap-section">
    <div class="container">
        
        <p style="text-align:center;">
            Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.
        </p>
        
    </div>
</section>

{% endblock %}