<!-- templates/404.html -->

{% extends 'base.html' %}

{% block title %}Locație greșită{% endblock %}

{% block content %}

{% load static %}
  
{% include "header.html" %}

<section id="next-section" class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="probootstrap-animate">
                <h3><i class="fas fa-exclamation-triangle"></i> Ai ajuns într-un loc greșit.</h3>
            </div>
        </div>
    </div>
</section>

{% endblock %}