<!-- templates/signup.html -->
<!-- /users/signup -->

{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

{% load static %}

{% load crispy_forms_tags %}
  
{% include "header.html" %}

<h2 style="text-align:center;">Join us, sign up</h2>

<section id="next-section" class="probootstrap-section">
    <div class="container">
        <div class="row mb60">
            <div class="col-md-8 col-md-offset-2 probootstrap-animate">
                <form action="#" method="post" class="probootstrap-form">

                    {% csrf_token %}
                    {{ form|crispy }}

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Sign Up">
                </div>
                </form>

                <br />

				<p style="text-align:center;">Already have an account? <a href="{% url 'login' %}">Login</a> instead</p>

            </div>
        </div>
    </div>
</section>

{% endblock %}