<!-- templates/trail_delete.html -->
<!-- /trails/... -->

{% extends 'base.html' %}

{% block title %}Delete Trail{% endblock %}

{% block content %}

{% load static %}

{% load crispy_forms_tags %}
  
{% include "header.html" %}

<section id="next-section" class="probootstrap-section">
    <div class="container">
        <div class="row mb60">
            <div class="col-md-8 col-md-offset-2 probootstrap-animate">
                <p>Are you sure do you want to delete trail "{{ trail.title }}"? <br /> There is no turning back.</p>
                <form action="#" method="post" class="probootstrap-form">

                    {% csrf_token %}
                    {{ form|crispy }}

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Delete trail">
                </div>
                </form>

            </div>
        </div>
    </div>
</section>

{% endblock %}