{% extends 'base.html' %}

{% block content %}

	<div class="trail-entry">
		<h2>{{ object.title }}</h2>
			<p>by {{ object.author }} | {{ object.date }}</p>
			<p>{{ object.about }}</p>
	</div>

	{% if user.is_authenticated %}
		<p><a href="{% url 'trail_edit' trail.pk %}">Edit</a> | <a href="{% url 'trail_delete' trail.pk %}">Delete</a></p>
	{% endif %}

	{% comment %} <p>Back to <a href="{% url 'trail_list' %}">All Trails</a>.</p> {% endcomment %}

	<div>
		{% for comment in trail.comments.all %}
			<p><span class="font-weight-bold">{{ comment.author }} &middot; &nbsp;</span>{{ comment }}</p>
		{% endfor %}
	</div>

{% endblock content %}
