{% extends 'base.html' %}


{% block title %}Trails{% endblock %}

{% block content %}
	{% for trail in object_list %}
		<div class="card">

			<div class="card-header">
				<span class="font-weight-bold"><a href="{% url 'trail_detail' trail.pk %}">{{ trail.title }}</a></span> &middot;
				<span class="text-muted">by {{ trail.author }} | {{ trail.date }}</span>
			</div>

			<div class="card-body">
				{{ trail.about }}
			</div>

			{% comment %} <div class="card-footer text-center text-muted">
				<a href="{% url 'trail_edit' trail.pk %}">Edit</a> | 
				<a href="{% url 'trail_delete' trail.pk %}">Delete</a>
			</div> {% endcomment %}

		</div>

		<br />
	{% endfor %}
{% endblock content %}