<!-- templates/user_profile_trails.html -->
<!-- /users/profile/trails -->

{% extends 'base.html' %}

{% block title %}My Trails{% endblock %}

{% block content %}

{% load static %}
  
{% include "header.html" %}

<section id="next-section" class="probootstrap-section">
    <div class="container">
        <div class="row">

            <div class="col-md" style="text-align:center; margin-bottom:100px;"> 

                    <a class="btn btn-primary active" href="{% url 'profile_trails' %}"><i class="fas fa-map-marked-alt"></i> My trails</a>
                    <a class="btn btn-primary" href="{% url 'profile_settings' %}"><i class="fas fa-user-edit"></i> Edit profile</a>
                    <a class="btn btn-primary" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>

            </div>

            {% if object_list %}

                {% for trail in object_list %}

                    {% if user == trail.author %}

                        <div class="col-md probootstrap-animate">
                            <div class="row probootstrap-block-image" style="  padding: 20px;
                            -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
                            box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);">

                                <div class="column">
                                    <figure><a href="{% url 'trail_detail' trail.pk %}"><img src="{{ trail.image.url }}"></a></figure>
                                </div>

                                <div class="column">
                                    <h4><a href="{% url 'trail_detail' trail.pk %}">{{ trail.title|truncatewords:6 }}</a></h4>
                                    <p class="dark">{{ trail.about|truncatewords:16 }}</p>
                                    <p><i class="far fa-calendar"></i> {{ trail.date|date:"j M, Y" }}</p>
                                </div>

                                <div class="column" style="font-size:1.2em;">
                                    <p class="dark"><i class="fas fa-globe-asia"></i> {{ trail.region }}</p>
                                    <p class="dark"><i class="fas fa-ruler"></i> {{ trail.distance }} km</p>
                                    <p class="dark"><i class="fas fa-tachometer-alt"></i> {{ trail.difficulty }}</p>
                                </div>

                                <div class="column" style="font-size:1.2em;">
                                    <p><a href="{% url 'trail_edit' trail.pk %}" ><i class="far fa-edit"></i> Edit</a></p>
                                    <p><a href="{% url 'trail_delete' trail.pk %}" ><i class="far fa-trash-alt"></i> Delete</a></p>
                                    <p><a href="#"><i class="fas fa-share-alt"></i> Share</a></p>
                                </div>

                            </div>
                        </div>

                    {% endif %}

                {% endfor %}

            {% else %}

                <p style="text-align:center; margin-top:50px;">You got no trails. <br /><a class="btn-xs" href="{% url 'trail_new' %}"><i class="fas fa-plus"></i> Add one</a></p>

            {% endif %}  

        </div>
    </div>
</section>

{% endblock %}