<!-- templates/user_profile_trails.html -->
<!-- /users/profile/trails -->

{% extends 'base.html' %}

{% block title %}Profile Settings{% endblock %}

{% block content %}

{% load static %}
  
{% include "header.html" %}

<section id="next-section" class="probootstrap-section">
    <div class="container">
        <div class="row">

            <div class="col-md" style="text-align:center;">

                    <a class="btn btn-primary" href="{% url 'profile_trails' %}"><i class="fas fa-map-marked-alt"></i> My trails</a>
                    <a class="btn btn-primary active" href="{% url 'profile_settings' %}"><i class="fas fa-cog"></i> Settings</a>
                    <a class="btn btn-primary" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>

            </div>



        </div>
    </div>
</section>

{% endblock %}