<!-- templates/user_trails.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}My Trails{% endblock %}

{% block content %}

{% load static %}

<section class="section-padding" id="about_page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="page-title text-center">
                    <h5 class="title">My Trails</h5>
				</div>
				
				{% if user.is_authenticated and user == object.author %}
					{% for trail in object_list  %}

						<div>
							{{ trail.title }}
						</div>

					{% endfor %}
				{% endif %}

            </div>
        </div>
    </div>
</section>

{% endblock %}